#lab6 : Kmeans Clustering
    Name: Rohit Kudache
    USN : 1BM18CS083
    Dataset : https://www.kaggle.com/julianjose/minute-weather

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from itertools import cycle, islice

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/minute_weather.csv')

In [ ]:
data.shape

(1587257, 13)

In [ ]:
data.head()

   rowID     hpwren_timestamp  ...  rain_duration  relative_humidity
0      0  2011-09-10 00:00:49  ...            NaN               60.5
1      1  2011-09-10 00:01:49  ...            0.0               39.9
2      2  2011-09-10 00:02:49  ...            0.0               43.0
3      3  2011-09-10 00:03:49  ...            0.0               49.5
4      4  2011-09-10 00:04:49  ...            0.0               58.8

[5 rows x 13 columns]

In [ ]:
#data sampling
sampled_df = data[(data['rowID'] % 10) == 0]
sampled_df.shape

(158726, 13)

In [ ]:
sampled_df.describe().transpose()

                       count           mean  ...         75%         max
rowID               158726.0  793625.000000  ...  1190437.50  1587250.00
air_pressure        158726.0     916.830161  ...      918.70      929.50
air_temp            158726.0      61.851589  ...       70.88       99.50
avg_wind_direction  158680.0     162.156100  ...      217.00      359.00
avg_wind_speed      158680.0       2.775215  ...        3.80       31.90
max_wind_direction  158680.0     163.462144  ...      223.00      359.00
max_wind_speed      158680.0       3.400558  ...        4.60       36.00
min_wind_direction  158680.0     166.774017  ...      212.00      359.00
min_wind_speed      158680.0       2.134664  ...        3.00       31.60
rain_accumulation   158725.0       0.000318  ...        0.00        3.12
rain_duration       158725.0       0.409627  ...        0.00     2960.00
relative_humidity   158726.0      47.609470  ...       68.00       93.00

[12 rows x 8 columns]

In [ ]:
sampled_df[sampled_df['rain_accumulation'] == 0].shape

(157812, 13)

In [ ]:
del sampled_df['rain_accumulation']
del sampled_df['rain_duration']

In [ ]:
rows_before = sampled_df.shape[0]
sampled_df = sampled_df.dropna()
rows_after = sampled_df.shape[0]

In [ ]:
rows_before - rows_after

46

In [ ]:
sampled_df.columns

Index(['rowID', 'hpwren_timestamp', 'air_pressure', 'air_temp',
       'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction',
       'max_wind_speed', 'min_wind_direction', 'min_wind_speed',
       'relative_humidity'],
      dtype='object')

In [ ]:
features = ['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction', 'max_wind_speed','relative_humidity']

In [ ]:
select_df = sampled_df[features]

In [ ]:
select_df.columns

Index(['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed',
       'max_wind_direction', 'max_wind_speed', 'relative_humidity'],
      dtype='object')

In [ ]:
select_df

         air_pressure  air_temp  ...  max_wind_speed  relative_humidity
0               912.3     64.76  ...             1.6               60.5
10              912.3     62.24  ...             1.8               38.5
20              912.2     63.32  ...             2.5               58.3
30              912.2     62.60  ...             2.4               57.9
40              912.2     64.04  ...             2.9               57.4
...               ...       ...  ...             ...                ...
1587210         915.9     75.56  ...             1.3               47.8
1587220         915.9     75.56  ...             1.4               48.0
1587230         915.9     75.56  ...             1.7               48.0
1587240         915.9     75.20  ...             1.6               46.3
1587250         915.9     74.84  ...             1.9               46.1

[158680 rows x 7 columns]

In [ ]:
X = StandardScaler().fit_transform(select_df)
X

array([[-1.48456281,  0.24544455, -0.68385323, ..., -0.62153592,
        -0.74440309,  0.49233835],
       [-1.48456281,  0.03247142, -0.19055941, ...,  0.03826701,
        -0.66171726, -0.34710804],
       [-1.51733167,  0.12374562, -0.65236639, ..., -0.44847286,
        -0.37231683,  0.40839371],
       ...,
       [-0.30488381,  1.15818654,  1.90856325, ...,  2.0393087 ,
        -0.70306017,  0.01538018],
       [-0.30488381,  1.12776181,  2.06599745, ..., -1.67073075,
        -0.74440309, -0.04948614],
       [-0.30488381,  1.09733708, -1.63895404, ..., -1.55174989,
        -0.62037434, -0.05711747]])

In [ ]:
#Using kmeans clustering
kmeans = KMeans(n_clusters=12)
model = kmeans.fit(X)
print("model\n", model)

model
 KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=12, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [ ]:
centers = model.cluster_centers_
centers

array([[ 0.12491519,  0.85250345,  1.40994154, -0.63867096,  1.67399405,
        -0.58955587, -0.71450576],
       [-0.21629112,  0.63305963,  0.40802479,  0.73395402,  0.51611998,
         0.67196807, -0.14927041],
       [ 1.36965863, -0.08365947, -1.20768142, -0.04257914, -1.07693355,
        -0.02205191, -0.97797028],
       [-1.1811953 , -0.87437776,  0.44721909,  1.97984463,  0.53895749,
         1.94093029,  0.9120784 ],
       [ 0.05692305, -0.78483555, -1.19542047, -0.57148065, -1.04133135,
        -0.58602925,  0.87625213],
       [ 0.23568796, -0.99474881,  0.65847363, -0.54879175,  0.84917647,
        -0.53159846,  1.16615377],
       [-0.84001892, -1.19596963,  0.37394084,  0.36240275,  0.47224927,
         0.35020833,  1.35815492],
       [-0.15901478,  0.8616082 , -1.30967337, -0.5902671 , -1.16512146,
        -0.60555346, -0.64369487],
       [ 0.775208  ,  0.38398592,  0.29661335, -0.52365232,  0.48473754,
        -0.52895216, -0.76917168],
       [ 0.23384438,  0.31941954,  1.88792404, -0.65198664, -1.55165348,
        -0.57683904, -0.28302573],
       [ 1.18985519, -0.25510628, -1.15505913,  2.12816609, -1.05346771,
         2.24563861, -1.1346071 ],
       [-0.66837943,  0.57234557,  0.18043825, -0.58982218,  0.35058563,
        -0.60330373, -0.14095212]])